.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
.logoWrapper img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
  
.headline {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    text-shadow:
    1.5px 1.5px 0 #333, 
    0px 1.5px 0 #333,
    -1.5px -1.5px 0 #333,
    -1.5px -1.5px 0 #333,
    -1.5px 1.5px 0 #333,
    1.5px -1.5px 0 #333,
    0.5px 0.5px 0 #aaaaaa,
    1.0px 1.0px 0 #aaaaaa,
    1.5px 1.5px 0 #aaaaaa,
    2.0px 2.0px 0 #aaaaaa,
    2.5px 2.5px 0 #aaaaaa,
    3.0px 3.0px 0 #aaaaaa, 
    3.5px 3.5px 0 #aaaaaa, 
    4.0px 4.0px 0 #aaaaaa, 
    4.5px 4.5px 0 #aaaaaa, 
    5px 5px 0 #aaaaaa;
}